@import "tailwindcss";

/* 1. TRYB JASNY (Kiedy w telefonie masz wyłączony tryb nocny) */
:root {
  --background: #ffffff; /* Czyste białe tło */
  --foreground: #000000; /* Czysty czarny tekst */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 2. TRYB CIEMNY (Czujnik wykrywający ustawienia telefonu) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Czyste czarne tło */
    --foreground: #ffffff; /* Czysty biały tekst */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}